/* --------------- Fonts ---------------- */
@font-face {
    font-family: Retro;
    src: url(./Fonts/retro-land-mayhem.ttf);
    font-weight: 400, 300, 200, 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: Joystix;
  src: url(./Fonts/joystix_monospace.otf);
  font-weight: 400, 300, 200, 100;
  font-style: normal;
  font-display: swap;
}
/* --------------- End of Fonts ---------------- */

/* --------------- Variables ---------------- */
:root {
    --primary: #FFD166;
    --secondary: #26547C;
    --details-primary: #EF476F;
    --details-secondary: #06D6A0;
    --white: #FCFCFC;
}
/* --------------- End of Variables ---------------- */

/* --------------- Body ---------------- */
html, body {
    /* removes horizontal scroll */
    max-width: 100%;
    overflow-x: initial !important;
    background: var(--white);
}
.Retro {
  font-family: Retro;
  transform: scaleY(1);
}
.Russian {
  font-family: Joystix;
  transform: scaleY(1.13);
}
/* --------------- End of Body ---------------- */

/* --------------- Background ---------------- */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
/* --------------- End of Background ---------------- */

/* --------------- Heading Text ---------------- */
:root {
  --green: #26547C;
  --blue: #4ad9db;
  --red: #f98ca4;
  --orange: #f5b10b;
  --mustard: #26547C;
  --darkblue: #2f3e9c;
  --darkred: #9e132c;
  --purple: #6e1f58;
  --outline: 2px;
}

h1 {  
  text-transform: uppercase;
  text-align: center;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* position: absolute; */
  color: var(--red);
  text-shadow: 
      -1px -1px 0 var(--purple), 1px -1px 0 var(--purple), -1px 1px 0 var(--purple), 1px 1px 0 var(--purple), 
      1px 0px 0px var(--green), 0px 1px 0px var(--green), 2px 1px 0px var(--green), 1px 2px 0px var(--green), 3px 2px 0px var(--green), 2px 3px 0px var(--green), 4px 3px 0px var(--green), 3px 4px 0px var(--green), 5px 4px 0px var(--green),
      3px 5px 0px var(--purple), 6px 5px 0px var(--purple), 
      -1px 2px 0 black, 0 3px 0 var(--purple), 1px 4px 0 var(--purple), 2px 5px 0px var(--purple),
      2px -1px 0 var(--purple), 3px 0 0 var(--purple), 4px 1px 0 var(--purple), 5px 2px 0px var(--purple), 6px 3px 0 var(--purple), 7px 4px 0 var(--purple),
    10px 10px 4px var(--mustard);
  
  &:after,
  &:before {
    content: attr(data-heading);
    position: absolute;
    overflow: hidden;
    left: 0;    
    width: 100%;
    top: 0;
    z-index: 5;
  }
  
  &::before {
    text-shadow: 
      -1px -1px 0 var(--darkred), 1px -1px 0 var(--darkred), -1px 1px 0 var(--darkred), 1px 1px 0 var(--darkred), 
      1px 0px 0px var(--orange), 0px 1px 0px var(--orange), 2px 1px 0px var(--orange), 1px 2px 0px var(--orange), 3px 2px 0px var(--orange), 2px 3px 0px var(--orange), 4px 3px 0px var(--orange), 3px 4px 0px var(--orange), 5px 4px 0px var(--orange),
      3px 5px 0px var(--darkred), 6px 5px 0px var(--darkred), 
      -1px 2px 0 black, 0 3px 0 var(--darkred), 1px 4px 0 var(--darkred), 2px 5px 0px var(--darkred),
      2px -1px 0 var(--darkred), 3px 0 0 var(--darkred), 4px 1px 0 var(--darkred), 5px 2px 0px var(--darkred), 6px 3px 0 var(--darkred), 7px 4px 0 var(--darkred),
      10px 10px 4px rgba(#6af177, .8);
    color: var(--green);
    height: 66%;
  }
  
  &::after {
    height: 33%;
    color: var(--blue);
    text-shadow: 
      -1px -1px 0 var(--darkblue), 1px -1px 0 var(--darkblue), -1px 1px 0 var(--darkblue), 1px 1px 0 var(--darkblue),
      1px 0px 0px var(--red), 0px 1px 0px var(--red), 2px 1px 0px var(--red), 1px 2px 0px var(--red), 3px 2px 0px var(--red), 2px 3px 0px var(--red), 4px 3px 0px var(--red), 3px 4px 0px var(--red), 5px 4px 0px var(--red),
      3px 5px 0px var(--darkblue), 6px 5px 0px var(--darkblue), 
      -1px 2px 0 black, 0 3px 0 var(--darkblue), 1px 4px 0 var(--darkblue), 2px 5px 0px var(--darkblue),
      2px -1px 0 var(--darkblue), 3px 0 0 var(--darkblue), 4px 1px 0 var(--darkblue), 5px 2px 0px var(--darkblue), 6px 3px 0 var(--darkblue), 7px 4px 0 var(--darkblue);
  }
}
/* --------------- End of Heading Text ---------------- */

/* --------------- Navbar ---------------- */
.custom-mobile3-navbar {
  display: none;
  z-index: 500;
  position: fixed;
  align-items: center;
  top: 7px;
  font-size: 1rem;

  width: 10rem;
  height: 5rem;
  border-radius: 3rem;
  transition: width .3s;

  background: rgba(239, 71, 111, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(239, 71, 111, 0.25);

  color: whitesmoke;
  font-size: 1.1rem;
  font-family: Retro; 
}
.contacts-mobile3-button {
  cursor: pointer;
}
.language-mobile3-button {
  cursor: pointer;
}
.custom-mobile-navbar {
  display: none;
  z-index: 500;
  position: fixed;
  align-items: center;
  top: 35px;
  right: 35px;
  font-size: 1rem;

  width: 15rem;
  height: 3.7rem;
  border-radius: 3rem;
  transition: width .3s;

  background: rgba(239, 71, 111, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(239, 71, 111, 0.25);

  color: whitesmoke;
  font-size: 1.1rem;
  font-family: Retro;
}
.contacts-mobile-button {
  height: 2.5rem;
  width: 90.83px;
  border-radius: 4rem;
  /* background-color: red; */
  cursor: pointer;
  transform: translate3d(5px, 0px, 0px);
  transition: transform .3s;
  position: fixed;
}
.language-mobile-button {
  height: 2.5rem;
  width: 90.83px;
  border-radius: 4rem;
  /* background-color: red; */
  cursor: pointer;
  transform: translate3d(111px, 0px, 0px);
  transition: transform .3s;
  position: fixed;
}
.custom-navbar {
  z-index: 500;
  position: fixed;
  bottom: 35px;
  left: 69px;
  font-size: 1rem;

  width: 16.5rem;
  height: 3.7rem;
  border-radius: 3rem;
  transition: width .3s;

  background: rgba(239, 71, 111, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(239, 71, 111, 0.25);

  color: whitesmoke;
  font-size: 1.1rem;
  font-family: Retro;

  display: flex;
  align-items: center;
}
.custom-navbar:hover {
  width: 30rem;
  transition: width .3s;
  
  .contacts-button {
    transform: translate3d(240px, 0px, 0px);
  }
  .language-button {
    transform: translate3d(350px, 0px, 0px);
  }
}
@media only screen and (max-width: 933px) {
  .custom-navbar{
    width: 30rem;
    transition: width .3s;
    
    .contacts-button {
      transform: translate3d(240px, 0px, 0px);
    }
    .language-button {
      transform: translate3d(350px, 0px, 0px);
    }
  }
}
@media only screen and (max-width: 633px) {
  .custom-navbar{
    left: 43px;
  }
}
@media only screen and (max-width: 575px) {
  .custom-navbar{
    left: 23px;
  }
}
@media only screen and (max-width: 530px) {
  .custom-navbar{
    left: 5px;
  }
}
@media only screen and (max-width: 500px) {
  .custom-navbar{
    left: 35px;
    width: 16.5rem;
    transition: all .3s;
    
    .contacts-button {
      /* transform: translate3d(130px, 0px, 0px); */
      display: none;
    }
    .language-button {
      /* transform: translate3d(130px, 0px, 0px); */
      display: none;
    }
  }
  .custom-navbar:hover {
    left: 35px;
    width: 16.5rem;
    transition: width .3s;
    
    .contacts-button {
      transform: translate3d(130px, 0px, 0px);
    }
    .language-button {
      transform: translate3d(130px, 0px, 0px);
    }
  }
  .custom-mobile-navbar {
    display: flex;
  }
}
@media only screen and (max-width: 345px) {
  .custom-navbar{
    bottom: 20px;
    left: 23px;
  }
  .custom-mobile-navbar{
    top: 20px;
  }
  .custom-navbar:hover {
    left: 23px;
    width: 16.5rem;
    transition: width .3s;
    
    .contacts-button {
      transform: translate3d(130px, 0px, 0px);
    }
    .language-button {
      transform: translate3d(130px, 0px, 0px);
    }
  }
  .custom-mobile-navbar {
    display: flex;
  }
}
@media only screen and (max-width: 315px) {
  .custom-navbar{
    left: 13px;
  }
  .custom-navbar:hover {
    left: 13px;
    width: 16.5rem;
    transition: width .3s;
    
    .contacts-button {
      transform: translate3d(130px, 0px, 0px);
    }
    .language-button {
      transform: translate3d(130px, 0px, 0px);
    }
  }
  .custom-mobile-navbar {
    display: flex;
  }
}
@media only screen and (max-width: 300px) {
  .custom-navbar{
    left: 7px;
  }
  .custom-navbar:hover {
    left: 7px;
    width: 16.5rem;
    transition: width .3s;
    
    .contacts-button {
      transform: translate3d(130px, 0px, 0px);
    }
    .language-button {
      transform: translate3d(130px, 0px, 0px);
    }
  }
  .custom-mobile-navbar {
    display: flex;
  }
  .custom-mobile-navbar{
    right: 10px;
  }
}
@media only screen and (max-width: 287px) {
  .custom-navbar{
    left: 3px;
    bottom: 7px;
  }
  .custom-mobile-navbar{
    top: 7px;
  }
  .custom-navbar:hover {
    left: 3px;
    width: 16.5rem;
    transition: width .3s;
    
    .contacts-button {
      transform: translate3d(130px, 0px, 0px);
    }
    .language-button {
      transform: translate3d(130px, 0px, 0px);
    }
  }
  .custom-mobile-navbar {
    display: flex;
  }
}
@media only screen and (max-width: 280px) {
  .custom-navbar{
    left: 0px;
    width: 100%;
  }
  .custom-navbar:hover {
    left: 0px;
    width: 100%;
    transition: width .3s;
    
    .contacts-button {
      transform: translate3d(130px, 0px, 0px);
    }
    .language-button {
      transform: translate3d(130px, 0px, 0px);
    }
  }
  .custom-mobile-navbar {
    display: flex;
  }
  .menu-heading{
    margin-left: 0px;
  }
}
@media only screen and (max-width: 270px) {
  .custom-navbar{
    justify-content: center;
    align-content: start;
    flex-direction: column;
  }
  .custom-mobile-navbar{
    right: 0.7px;
  }
  .home-menu-button{
    display: none !important;
  }
  .menu-heading{
    padding: 0px !important;
    cursor: pointer !important;
    pointer-events: all !important;
  }
}
@media only screen and (max-width: 257px) {
  .custom-mobile-navbar{
    right: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 245px) {
  .custom-mobile-navbar{
    display: none;
  }
  .custom-mobile3-navbar {
    display: flex;
  }
}
.home-menu-button {
  height: 2.5rem;
  width: 97px;
  z-index: 100;
  display: block;
  cursor: pointer;
  transform: translate3d(130px, 0px, 0px);
  transition: transform .3s;
  transition: width .1s, height .1s;
  position: fixed;
  display: flex;

  color: white;
  text-decoration: none;

  border-radius: 4rem;
  background: rgba(38, 84, 124, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
}
.home-menu-button:hover {
  height: 2.55rem;
  width: 103px;
  transition: width .1s, height .1s;
}
.contacts-button {
  height: 2.5rem;
  width: 90.83px;
  border-radius: 4rem;
  /* background-color: red; */
  cursor: pointer;
  transform: translate3d(130px, 0px, 0px);
  transition: transform .3s;
  position: fixed;
  display: flex;
}
.language-button {
  height: 2.5rem;
  width: 90.83px;
  border-radius: 4rem;
  /* background-color: red; */
  cursor: pointer;
  transform: translate3d(130px, 0px, 0px);
  transition: transform .3s;
  position: fixed;
  display: flex;
}
.menu-heading {
  padding-left: 23px;
  transform: scaleY(1.03);
  text-decoration: none;
  color: white;
  cursor: none;
  pointer-events: none;
}
.menu-text {
  /* padding-top: 5px; */
  font-family: Joystix;
  font-size: 0.79rem;
  transform: scaleY(1.13);
  transition: font-size .1s;
}
/* --------------- End of Navbar ---------------- */

/* --------------- Contact button ---------------- */
.contact-main-button {
  z-index: 500;
  position: fixed;
  bottom: 35px;
  right: 69px;
  font-size: 1rem;
  cursor: pointer;
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 3rem;
  transition: transform .3s;

  background: rgba(239, 71, 111, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(239, 71, 111, 0.25);

  display: flex;
}
.contact-icon {
  width: 1.75rem;
  height: 1.75rem;
  transition: transform .3s;
}
.contact-main-button:hover {
  transform: scale(1.1);
  transition: transform .3s;
  .contact-icon {
    transform: scale(1.237);
    transition: transform .3s;
  }
}
@media only screen and (max-width: 705px) {
  .contact-main-button{
    display: none !important;
  }
}
/* --------------- End of Contact button ---------------- */

/* --------------- Hero ---------------- */
.main_heading {
  width: 100%;
}
.main-heading-text {
    /* color: rgba(239, 71, 111, 0.42); */
    color: var(--primary);
    font-family: Retro;
    font-size: 13vw;
    z-index: 10;
    position: relative;
}
/* --------------- End of Hero ---------------- */

/* --------------- scrolltrigger text ---------------- */
/* .scroll-text_content {

} */
.content__title {
	font-size: 2.1rem;
  color: var(--primary);
  font-family: Joystix;
}
.scroll-text-mobile_content {
  display: none;
}
.scroll-text-large_content {
  display: block;
}
@media only screen and (max-width: 1250px) {
  .content__title{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 883px) {
  .content__title{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 700px) {
  .content__title{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .content__title{
    font-size: 1rem;
  }
  .scroll-text-large_content{
    display: none;
  }
  .scroll-text-mobile_content{
    display: block;
  }
}

/* --------------- End of scrolltrigger text ---------------- */

/* --------------- Partners ---------------- */
.partner-heading-text {
  font-size: 3rem;
  color: var(--primary);
  font-family: Joystix;

  padding-bottom: 23px;
  padding-left: 23px;

  z-index: 10;
  position: relative;
}
.partner-section {
  height: 100vh;
  padding-top: 10rem;
}
.partner-box {
  width: 95%;
  height: 20rem;

  z-index: 10;
	position: relative;

  border-radius: 30px;
  background: rgba(239, 71, 111, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
.partner-logo {
  background-color: black;
  width: 13rem;
  height: 13rem;
  border-radius: 30px;
  transition: transform .3s;
}
.partner-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.partner-logo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.partner-logo:hover {
  transform: scale(1.05);
  /* width: 14rem;
  height: 14rem; */
  transition: transform .3s, width .3s, height .3s;
  cursor: pointer;
}
.partner-name {
  font-size: 1.3rem;
  color: var(--primary);
}
/* --------------- End of Partners ---------------- */

/* --------------- Registration ---------------- */
.registration-button {
  z-index: 10;
	position: relative;
}
.letsplay {
  padding-bottom: 5rem;
}
@media only screen and (max-width: 400px) {
  .letsplay{
    padding-bottom: 1.7rem;
    font-size: 19vw;
  }
}
@media only screen and (max-width: 285px) {
  .letsplay{
    padding-bottom: 1.7rem;
  }
}
.col-form-label {
  color: #FFD166;
  font-size: 0.3rem;
}
.form-control {
  height: 3rem !important;
  border: 2.5px solid rgba(255, 255, 255, 0.43) !important;
  box-shadow: 0 0 0 var(--secondary) !important;
  border-radius: 13px !important;
  background: rgba(255, 255, 255, 0.43) !important;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(7.3px) !important;
  -webkit-backdrop-filter: blur(7.3px) !important;
}
.custom-form-select {
  height: 3rem !important;
  border: 2.5px solid rgba(255, 255, 255, 0.43) !important;
  box-shadow: 0 0 0 var(--secondary) !important;
  border-radius: 13px !important;
  background: rgba(255, 255, 255, 0.43) !important;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(7.3px) !important;
  -webkit-backdrop-filter: blur(7.3px) !important;
}
.custom-form-select:focus {
  height: 3rem !important;
  border: 2.5px solid rgba(255, 255, 255, 0.43) !important;
  box-shadow: 0 0 0 var(--secondary) !important;
  border-radius: 13px !important;
  background: rgba(255, 255, 255, 0.43) !important;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(7.3px) !important;
  -webkit-backdrop-filter: blur(7.3px) !important;
}
.modal-footer {
  border-top: 0px !important;
}
.custom-submit {
  height: 3rem !important;
  width: 11rem !important;
  transition: all .3s !important;

  border-radius: 4rem !important;
  background: rgba(38, 84, 124, 1) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(13.3px) !important;
  -webkit-backdrop-filter: blur(13.3px) !important;
  
  color: white !important;
  font-family: Joystix !important;
  font-size: 1rem !important;
}
.custom-submit:hover {
  transform: scale(1.03);
}
.successfull_registration {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------- End of Registration ---------------- */

/* --------------- Registration Button ---------------- */
.register-button {
  position: relative;
  padding: 12px;
  width: 50vw;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 500;
  
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--primary);
  font-family: Joystix;

  border: 3px solid rgba(38, 84, 124, 0.43);
  box-shadow: 0 0 0 var(--secondary);
  border-radius: 37px;
  background: rgba(38, 84, 124, 0.43);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
}
@media only screen and (max-width: 375px) {
  .register-button {
    padding: 12px;
  }
}
@media only screen and (max-width: 285px) {
  .register-button {
    height: 4rem;
    width: 75%;
  }
}
.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96), opacity .3s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  opacity: 0;
}
.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96), opacity .3s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;
}
.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96), opacity .3s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;
}
.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96), opacity .3s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;
}
.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0.05, 0.83, 0.43, 0.96), opacity .3s cubic-bezier(0, 0.4, 0, 1.01);
  opacity: 0;
}
.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96), opacity .3s ease;
  opacity: 0;
}
.register-button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.register-button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
  opacity: 1;
}
.register-button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
  opacity: 1;
}
.register-button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
  opacity: 1;
}
.register-button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
  opacity: 1;
}
.register-button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
  opacity: 1;
}
.register-button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
  opacity: 1;
}
.fil0 {
  fill: #fffdef;
}
/* --------------- End of Register Button ---------------- */

/* --------------- footer text ---------------- */
.typewrite-text-wrap {
  font-size: 2.1rem;
  color: var(--primary);
  font-family: Joystix;
  z-index: 10;
	position: relative;
}
.footer-end {
  height: 10.7vh;
  padding-right: 69px;
  z-index: 10;
	position: relative;
}
/* --------------- End of footer text ---------------- */

/* --------------- Contacts Modal ---------------- */
.custom-modal-content {
  border-radius: 30px !important;
  background: rgba(239, 71, 111, 0.42) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(7px) !important;
  -webkit-backdrop-filter: blur(7px) !important;
}
.custom-modal-header {
  border-bottom: none !important;
}
.custom-modal-title {
  font-size: 3rem !important;
  color: var(--primary) !important;
  font-family: Joystix !important;
  transform: scaleY(1.13);
}
.contact-modal-text {
  color: #FFD166;
  font-size: 1rem;
}
/* --------------- End of Contacts Modal ---------------- */